.user-profile-card {
  border-radius: 30px;
  margin-bottom: 10px;
}

.user-identity--avatar-div {
  text-align: center;
}
.user-identity--fullname {
  text-align: center;
  margin-top: 10px;
}
.user-identity--organization {
  text-align: center;
}
.user-identity--position {
  text-align: center;
}
/* Common btns for left column of grid */
.user-card--button-container {
  display: flex;
  justify-content: space-between;
}
.user-card--save-btn {
  width: 45%;
}
.user-card--cancel-btn {
  width: 45%;
}
/* Common btns for right side of grid */
.user-right-card--button-container {
  display: flex;
  justify-content: flex-end;
}
.user-right-card--save-btn {
  width: 120px;
  margin-left: 10px;
}
.user-right-card--cancel-btn {
  width: 120px;
}

.user-skill-actions-div {
  display: inline-flex;
  margin-top: 10px;
  width: 100%;
}
.user-add-skill-btn {
  margin-left: 5px;
}
.user-course-actions-div {
  display: inline-flex;
  margin-top: 10px;
  width: 100%;
}
.user-add-course-btn {
  margin-left: 5px;
}
.user-skill-tag {
  padding: 5px;
}
.user-course-tag {
  padding: 5px;
}